:root {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body{
  margin:0;
  color: #ececec;
  background-color: rgb(19, 19, 19);
}
/* Header */
.header{
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 120px;
  background-image: url(/public/sound-frequency-equalizer-colorful-background/SL_123119_26548_dark.jpg);
  background-size: contain;
  color: #eeecec;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
  border-radius: 10px;
}

#title{
  font-size: 36px;
  margin-bottom: 0px;
}

#subtitle{
  font-size: 24px;
  margin-top: 8px;
}

/* Main containers */

.main-content-container{
  display: flex;
}

.sidebar-container{
  min-width: 300px;
  margin-top: 140px;
  margin-left: 20px;
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
  position: fixed;
  top: 0;
  bottom: 0;
  overflow-y: scroll;
}

.singles-albums-container{
  display: flex;
  flex-direction: column;
  margin-left: 320px;

}

/* Sidebar with Playlists */
.playlist-container{
  margin: 10px;
}

.playlist-header{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-bottom: 10px;
}

.playlists-items-container{
  margin-top: 10px;
}

.playlist-header-icon{
  height: 30px;
}

.playlist-item {
  display: flex;
  align-items: center;
  margin: 20px 10px 20px 10px;
}

.playlist-name{
  text-decoration: none;
  color: #a0a0a0;
  font-family: Helvetica;
  padding-left: 10px;
}

.playlist-title{
  font-size: 28px;
}

/* ALbums & Singles section */
.albums-container{
  margin: 30px 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
  background-color: rgb(20, 20, 20);
  border-radius: 10px;
}
.album-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  position: relative;
  margin: 20px 20px;
  flex: 0 0 21%;
}

.album-img{
  width: 100%;
}

.album-name, 
.artist-name,
.artist-name-separator{
  font-size: 14px;
  font-family: Helvetica;
  border-bottom: 0;
  text-decoration: none;
}

.album-name{
  color: #ffffff;
  margin: 10px;
  text-align: center;
}

.artist-name{
  color: #a0a0a0;
  margin: 2px;
  text-align: center;
}

.artist-name-separator{
  color: #a0a0a0;
}

/* Buttons */
.buttons-container{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  gap: 20px;
  width: 100%;
  left: 0;
  top: 40%;
  opacity: 0;
  transition: 0.4s;
}

/* Albums & Singles titles */
.singles-title,
.albums-title{
  font-size: 28px;
  text-align:left;
  color:#dbdbdb;
  padding-left: 20px;
}

.singles-title{
  margin: 140px 30px 0px 30px;
  background-color: black;
  border-radius: 10px;
  height: 50px;
  align-items: center;
  padding-top: 20px;
}

.albums-title{
  margin: 0px 30px 0px 30px;
  background-color: black;
  border-radius: 10px;
  height: 50px;
  align-items: center;
  padding-top: 20px;
}
hr{
  border: 1px solid #a0a0a0;
}

.playlist-img{
  width: 70px;
}

/* hover effects */

/* Album & artists names */
.album-name:hover, .artist-name:hover, .playlist-name:hover{
  text-decoration: underline;
}

/* album image */
/* .album-img:hover, */
.album-card:hover .album-img{
  filter: brightness(60%);
  transition: .2s;
}

/* buttons */
.fav-img:hover,
.play-img:hover,
.dots-img:hover{
  scale: 1.3;
}

.album-card:hover .buttons-container{
  opacity: 1;
  transition: 0.8s;
}

/* Other devices */

@media screen and (max-width: 1754px) {
  .album-card{
    flex: 0 0 20%;
  }

  .buttons-container{
    top: 30%;
  }
}

@media screen and (max-width: 1479px) {
  .album-card{
    flex: 0 0 18%;
  }

  .buttons-container{
    top: 30%;
  }

  .singles-title,
  .albums-title{
  font-size: 18px;
  text-align: center;
  color:#dbdbdb;
  } 
}

@media screen and (max-width: 1165px) {
  .album-card{
    flex: 0 0 40%;
  }

  .buttons-container{
    top: 35%;
  }

  .singles-title,
  .albums-title{
  font-size: 28px;
  text-align: center;
  color:#dbdbdb;
  } 

  .playlist-img{
    display: none;
  }
  .playlist-name{
    font-size: 36px;
  }

  .playlist-name{
    font-size: 28px;
  }

  .playlists-items-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  #subtitle{
    font-size: 28px;
  }
}

@media screen and (max-width: 1165px) {
  #title{
    font-size: 28px;
  }

  #subtitle{
    font-size: 18px;
  }

  .singles-title,
  .albums-title{
  font-size: 18px;
  text-align: center;
  color:#dbdbdb;
  } 

  .singles-albums-container{
    display: flex;
    flex-direction: column;
  }

  .album-card{
    flex: 0 0 37%;
  }

  .main-content-container{
    display: flex;
    flex-direction: column;
  }

  .sidebar-container{
    display: flex;
    min-width: 810px;
    margin-top: 140px;
    margin-left: 0px;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    position: relative;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .singles-albums-container,
  .albums-sec{
    margin-left: 0px;
    margin-right: 0px;
  }

  .singles-title{
    margin: 30px 30px;
    background-color: black;
    border-radius: 10px;
    height: 50px;
    align-items: center;
    padding-top: 20px;
  }

  #title{
    font-size: 38px;
    margin-bottom: 0px;
  }
  
  #subtitle{
    font-size: 28px;
    margin-top: 8px;
  }

  .album-name, 
  .artist-name,
  .artist-name-separator{
  font-size: 20px;
  }

}
@media screen and (max-width: 802px) {
  #title{
    font-size: 20px;
  }

  #subtitle{
    font-size: 14px;
  }

  .singles-title,
  .albums-title{
  font-size: 20px;
  text-align: center;
  color:#dbdbdb;
  } 

  .singles-albums-container{
    display: flex;
    flex-direction: column;
  }

  .album-card{
    flex: 0 0 70%;
  }

  .main-content-container{
    display: flex;
    flex-direction: column;
  }

  .sidebar-container{
    display:none;
  }

  .singles-albums-container,
  .albums-sec{
    margin-left: 0px;
    margin-right: 0px;
  }

  .singles-title{
    margin: 140px 30px 30px 30px;
    background-color: black;
    border-radius: 10px;
    height: 50px;
    align-items: center;
    padding-top: 20px;
  }

  #title{
    font-size: 38px;
    margin-bottom: 0px;
  }
  
  #subtitle{
    font-size: 28px;
    margin-top: 8px;
  }

  .album-name, 
  .artist-name,
  .artist-name-separator{
  font-size: 20px;
  }

}


